html
    {
        width: 1660px;
        height: 850px;
}
body
    {
        width: 100%;
        height: 100%; 
}
#div_header
    {
        width: 100%;
        height: 6%;
        background-color: rgb(131, 216, 231);
    }
#div_header_span
    {
        margin-top: 1%;
        float : left;
        margin-left: 30%;
        font-family: "Arial Black", Arial, Verdana, sans-serif;
        font-size: 140%;
        font-style: normal;
        color: rgb(109, 95, 95);
    }   
#seconnecter
    {
        width: 15%;
        height: 70%; 
        color: white;
        background-color: orange;
        margin-top: 0.5%;
        font-size: 150%;
        float: right;
        margin-right: 5%;
        font-weight:bold;
    }
#div_sous_header
    {
        margin-top: 1%;
        width: 100%;
        height: 15%;
        background-color: rgb(131, 216, 231);
    }
#img_ecrans
    {
        margin-top: 8%;
        width: 160%;
        height: 160%;
        float: left;
    }
.div_ecrans
    {
        float: left;
        margin-left: 1%;
    }
.div_text_sous_header
    {
        float: center;
        margin-left: 0.5%;

    } 
#textfrenchlife
    {
        position: absolute;
        top:9%;
        left:23%;
        bottom: 81%;
        text-decoration: underline;
    }  
#textAssurance
    {
        position: absolute;
        top:13%;
        left:35%;
        bottom: 81%;
    }
#textenligne
    {
        position: absolute;
        top:17%;
        left:65%;
        bottom: 81%;
    }  
#img_logofrancais
    {
        margin-top: 4%;
        width: 115%;
        height: 115%;
        float: right;
    }   
.div_logofrancais
    {
        position: absolute;
        top:8%;
        right:2%;
        bottom: 81%;
    }
span
    {
        font-family: "Arial Black", Arial, Verdana, sans-serif;
        font-size: 200%;
        /* font-weight: bold; */
        font-style: italic;
        text-align: center;
        color: yellow;
    }
#div_sur_footer
    {
        margin-top: 1%;         
        width: 100%;
        height: 49%;
        background-color: rgb(131, 216, 231);
    }
.boutonorange
    {
        width: 15%;
        height: 8%; 
        color: white;
        background-color: orange;
        margin-top: 1%;
        font-size: 150%;
        float: right;
        margin-right: 5%;
        font-weight:bold;
        
    }
#div_textnous
{
        width:80%;
        height: 70%;
        margin-left: 10%;
        padding-top: 5%;
        font-family: "Arial Black", Arial, Verdana, sans-serif;
        font-size: 120%;
        color: rgb(109, 95, 95);
}
#div_puber
    {
        margin-top: 1%;
        width: 100%;
        height: 17%;
        background-color: rgb(131, 216, 231);
    }
#imgpub img
    {
        float: right;
        margin-right:1.5%;
        width: 15%;
        height: 15%;  
    }
#div_footer
    {
        margin-top: 1%;         
        width: 100%;
        height: 11%;
        background-color: rgb(131, 216, 231);
        text-align: center;
                
    }
#div_reseaux
    {
        margin-top: 2%;
        width: 80%;
        height: 80%;
        float: left;
        margin-left: 16%;  
    }
#div_footer img
    {
        width: 100%;
        height: 100%;
    }

.div_icones
    {
        float: left;
        margin-left: 16%;
        text-align: center;
        text-decoration: underline;
    }
a
{
    text-decoration: underline;
    color:blue;
    float: right;
    margin-right: 2%;
    margin-top: 3.5%;
}